section.line
  div.line__wrapper
    div.line__header
      div.container
        div.line__header-wrapper
          h2.line__title СЕГОДНЯ #[br]DEFA group #[br]ЭТО:
            span -
    div.line__media
      include ../line-banner/line-banner

      div.line__quote
        p
          b Масштаб компании подкреплён собственной логистической инфраструктурой, современными складскими комплексами и полным контролем цепочки поставок - от вылова #[br] и аквакультуры #[br] до доставки #[br] клиенту.