div.line-banner
  div.swiper.line-banner__swiper
    ul.swiper-wrapper.line-banner__list
      li.swiper-slide.line-banner__item
        figure.line-banner__banner
          img(src="./assets/images/line-1.png", alt="")