include ../counter/counter

div.why
  div.why__header
    +counter({
      four: true,
    })


  div.why__main
    div.why__background
      img(src="./assets/images/why-background-1.png" alt="")
    div.why__list
      div.why__item
       span.why__item-title АССОРТИМЕНТ
       span От классики до эксклюзива<br> с безоговорочным<br> качеством
       
      div.why__item
       span.why__item-title НАДЕЖНОСТЬ
       span Прямые контракты<br> и собственный<br> контроль логистики
       
      div.why__item
       span.why__item-title СТАБИЛЬНОСТЬ
       span 30+ лет безупречной<br> репутации на рынке
       
      div.why__item
       span.why__item-title ЭКСПЕРТИЗА
       span Команда профессионалов,<br> для которых рыба -<br> это призвание

      div.why__item
       span.why__item-title ПАРТНЕРСКИЙ ПОДХОД 
       span Индивидуальные <br> условия и совместное <br> развитие
