mixin counter(props)

  if props.one
    div.counter
      div.counter__top
        div.counter__number
          span 01

        div.counter__desc
          p(style='text-align: right;')
            b DEFA group — международная группа компаний<br> в сегменте рыбы  и морепродуктов, выстраивающая рынок через экспертизу, масштаб и долгосрочные партнёрства. Более 30 лет<br> компания работает на стыке глобальных цепочек поставок и локального спроса, формируя устойчивую модель дистрибуции<br> и потребления рыбы в России, СНГ и ряде европейских стран.

      div.counter__header
        h2.counter__title МИССИЯ <br> И РОЛЬ НА РЫНКЕ
      div.counter__content
        div.article
          p DEFA group была основана в 1995 году с чёткой стратегической установкой: развивать культуру потребления рыбы и морепродуктов и обеспечивать рынок стабильным доступом к качественному сырью. Компания последовательно реализует эту задачу, выступая связующим звеном между ведущими мировыми производителями и ключевыми игроками локальных рынков — ритейлом, HoReCa и переработкой.



  if props.two
    div.counter
      div.counter__top
        div.counter__number
          span 02

      div.counter__header
        h2.counter__title КЛЮЧЕВЫЕ #[br]КОНКУРЕНТНЫЕ #[br] ПРЕИМУЩЕСТВА 
      div.counter__content



  if props.three
    div.counter
      div.counter__top
        div.counter__number
          span 03

      div.counter__header
        h2.counter__title ФИЛОСОФИЯ <br> КАЧЕСТВА
      div.counter__content
        div.article
          p(style='color: #3B73B8') #[b В основе операционной модели DEFA group — три принципа:]

          ul
            li 
             p #[b Ответственный выбор поставщиков и сырья (сертификаты MSC, ASC)]
            li
              p #[b Многоступенчатый контроль безопасности и качества] #[br] (лабораторный и технологический контроль по стандартам РФ и ЕАЭС)
            li
              p #[b Современная логистика с сохранением свежести продукции] #[br] (транспорт с температурным мониторингом)



  if props.four
    div.counter
      div.counter__top
        div.counter__number
          span 04

      div.counter__header
        h2.counter__title ПОЧЕМУ <br> ВЫБИРАЮТ <br> DEFA group
      div.counter__content
        div.article
          p(style='text-align: right;') DEFA group — стратегический партнёр для компаний, <br> которым важны надёжность цепочек поставок, качество <br> продукта и устойчивое развитие бизнеса
