mixin advantages-card(props)

  if props.ver1
    div.advantages-card
      picture.advantages-card__banner
        source(media="(max-width: 991px)" srcset="./assets/images/advantages-banner-1-mobile.jpg")
        img(src="./assets/images/advantages-banner-1-desktop.png", alt="")
      //- div.advantages-card__top
      //-   i.advantages-card__icon
      //-     img(src="./assets/images/advantages-card-icon-1.svg" alt="")

      //-   i.advantages-card__icon
      //-     img(src="./assets/images/advantages-card-icon-2.svg" alt="")

      //-   i.advantages-card__icon
      //-     img(src="./assets/images/advantages-card-icon-3.svg" alt="")

      //-   i.advantages-card__icon
      //-     img(src="./assets/images/advantages-card-icon-4.svg" alt="")

      //-   i.advantages-card__icon
      //-     img(src="./assets/images/advantages-card-icon-5.svg" alt="")

      //-   i.advantages-card__icon
      //-     img(src="./assets/images/advantages-card-icon-6.svg" alt="")

      //- div.advantages-card__list
      //-   div.advantages-card__item
      //-     p.advantages-card__title этот широкий портфель #[br] позволяет закрывать потребности #[br] всех сегментов рынка:
        
      //-   div.advantages-card__item
      //-     div.advantages-card__column
      //-       div.advantages-card__ball
      //-         span #[b ДЛЯ #[br]ПЕРЕРАБОТКИ #[br]И КРУПНОГО ОПТА #[br]]Стандартизированное стабильное сырье
              
      //-       div.advantages-card__ball
      //-         span #[b ДЛЯ HORECA #[br]]Премиальная #[br] охлажденная и замороженная рыба, #[br]деликатесные морепродукты
              
      //-       div.advantages-card__ball
      //-         span #[b ДЛЯ РИТЕЙЛА #[br]]Продукция no name, #[br]под СТМ сетей, #[br]а также под #[br]собственным брендом #[br]Fish&More

        
      //-   div.advantages-card__item
      //-     div.advantages-card__column.advantages-card__column--2
      //-       div.advantages-card__card
      //-         i.advantages-card__card-icon
      //-           img(src="./assets/images/advantages-card__card-1.png", alt="")
      //-         div.advantages-card__card-content
      //-           span.advantages-card__card-title ДЕЛИКАТЕСНЫЕ МОРЕПРОДУКТЫ
      //-           span Креветки, морской гребешок, мидии, кальмар, краб, лангустины
              
      //-       div.advantages-card__card
      //-         i.advantages-card__card-icon
      //-           img(src="./assets/images/advantages-card__card-2.png", alt="")
      //-         div.advantages-card__card-content
      //-           span.advantages-card__card-title ПРЕМИАЛЬНАЯ РЫБА
      //-           span Лососевые, белая рыба (треска, пикша, палтус), морской окунь (сибас), дорадо


  if props.ver2
    div.advantages-card
      picture.advantages-card__banner
        source(media="(max-width: 991px)" srcset="./assets/images/advantages-banner-2-mobile.jpg")
        img(src="./assets/images/advantages-banner-2-desktop.png", alt="")
      //- div.advantages-card__top
      //-   i.advantages-card__icon
      //-     img(src="./assets/images/advantages-card-icon-1.svg" alt="")

      //-   i.advantages-card__icon
      //-     img(src="./assets/images/advantages-card-icon-2.svg" alt="")

      //-   i.advantages-card__icon
      //-     img(src="./assets/images/advantages-card-icon-3.svg" alt="")

      //-   i.advantages-card__icon
      //-     img(src="./assets/images/advantages-card-icon-6.svg" alt="")

      //- div.advantages-card__list
      //-   div.advantages-card__item
      //-     p.advantages-card__title этот широкий портфель #[br] позволяет закрывать потребности #[br] всех сегментов рынка:
        
      //-   div.advantages-card__item
      //-     div.advantages-card__column
      //-       div.advantages-card__ball
      //-         span #[b ДЛЯ #[br]ПЕРЕРАБОТКИ #[br]И КРУПНОГО ОПТА #[br]]Стандартизированное стабильное сырье
              
      //-       div.advantages-card__ball
      //-         span #[b ДЛЯ РИТЕЙЛА #[br]]Продукция no name, #[br]под СТМ сетей, #[br]а также под #[br]собственным брендом #[br]Fish&More

        
      //-   div.advantages-card__item
      //-     div.advantages-card__column.advantages-card__column--2
      //-       div.advantages-card__card
      //-         i.advantages-card__card-icon
      //-           img(src="./assets/images/advantages-card__card-1.png", alt="")
      //-         div.advantages-card__card-content
      //-           span.advantages-card__card-title ДЕЛИКАТЕСНЫЕ МОРЕПРОДУКТЫ
      //-           span Креветки, морской гребешок, мидии, кальмар, краб, лангустины
              
      //-       div.advantages-card__card
      //-         i.advantages-card__card-icon
      //-           img(src="./assets/images/advantages-card__card-2.png", alt="")
      //-         div.advantages-card__card-content
      //-           span.advantages-card__card-title ПРЕМИАЛЬНАЯ РЫБА
      //-           span Лососевые, белая рыба (треска, пикша, палтус), морской окунь (сибас), дорадо
                
      //-       div.advantages-card__card
      //-         i.advantages-card__card-icon
      //-           img(src="./assets/images/advantages-card__card-1.png", alt="")
      //-         div.advantages-card__card-content
      //-           span.advantages-card__card-title ДЕЛИКАТЕСНЫЕ МОРЕПРОДУКТЫ
      //-           span Креветки, морской гребешок, мидии, кальмар, краб, лангустины


  if props.ver3
    div.advantages-card
      picture.advantages-card__banner
        source(media="(max-width: 991px)" srcset="./assets/images/advantages-banner-3-mobile.jpg")
        img(src="./assets/images/advantages-banner-3-desktop.png", alt="")
      //- div.advantages-card__top
      //-   i.advantages-card__icon
      //-     img(src="./assets/images/advantages-card-icon-1.svg" alt="")

      //-   i.advantages-card__icon
      //-     img(src="./assets/images/advantages-card-icon-2.svg" alt="")

      //-   i.advantages-card__icon
      //-     img(src="./assets/images/advantages-card-icon-3.svg" alt="")

      //- div.advantages-card__list
      //-   div.advantages-card__item
      //-     p.advantages-card__title этот широкий портфель #[br] позволяет закрывать потребности #[br] всех сегментов рынка:
        
      //-   div.advantages-card__item
      //-     div.advantages-card__column
      //-       div.advantages-card__ball
      //-         span #[b ДЛЯ #[br]ПЕРЕРАБОТКИ #[br]И КРУПНОГО ОПТА #[br]]Стандартизированное стабильное сырье

        
      //-   div.advantages-card__item
      //-     div.advantages-card__column.advantages-card__column--2
              
      //-       div.advantages-card__card
      //-         i.advantages-card__card-icon
      //-           img(src="./assets/images/advantages-card__card-2.png", alt="")
      //-         div.advantages-card__card-content
      //-           span.advantages-card__card-title ПРЕМИАЛЬНАЯ РЫБА
      //-           span Лососевые, белая рыба (треска, пикша, палтус), морской окунь (сибас), дорадо


  if props.ver4
    div.advantages-card
      picture.advantages-card__banner
        source(media="(max-width: 991px)" srcset="./assets/images/advantages-banner-4-mobile.jpg")
        img(src="./assets/images/advantages-banner-4-desktop.png", alt="")
      //- div.advantages-card__top
      //-   i.advantages-card__icon
      //-     img(src="./assets/images/advantages-card-icon-1.svg" alt="")

      //-   i.advantages-card__icon
      //-     img(src="./assets/images/advantages-card-icon-6.svg" alt="")

      //- div.advantages-card__list
      //-   div.advantages-card__item
      //-     p.advantages-card__title этот широкий портфель #[br] позволяет закрывать потребности #[br] всех сегментов рынка:
        
      //-   div.advantages-card__item
      //-     div.advantages-card__column
      //-       div.advantages-card__ball
      //-         span #[b ДЛЯ #[br]ПЕРЕРАБОТКИ #[br]И КРУПНОГО ОПТА #[br]]Стандартизированное стабильное сырье
              
      //-       div.advantages-card__ball
      //-         span #[b ДЛЯ HORECA #[br]]Премиальная охлажденная и замороженная рыба, #[br]деликатесные морепродукты
              
      //-       div.advantages-card__ball
      //-         span #[b ДЛЯ РИТЕЙЛА #[br]]Продукция no name, #[br]под СТМ сетей, #[br]а также под #[br]собственным брендом #[br]Fish&More

        
      //-   div.advantages-card__item
      //-     div.advantages-card__column.advantages-card__column--2
      //-       div.advantages-card__card
      //-         i.advantages-card__card-icon
      //-           img(src="./assets/images/advantages-card__card-1.png", alt="")
      //-         div.advantages-card__card-content
      //-           span.advantages-card__card-title ДЕЛИКАТЕСНЫЕ МОРЕПРОДУКТЫ
      //-           span Креветки, морской гребешок, мидии, кальмар, краб, лангустины
              
      //-       div.advantages-card__card
      //-         i.advantages-card__card-icon
      //-           img(src="./assets/images/advantages-card__card-2.png", alt="")
      //-         div.advantages-card__card-content
      //-           span.advantages-card__card-title ПРЕМИАЛЬНАЯ РЫБА
      //-           span Лососевые, белая рыба (треска, пикша, палтус), морской окунь (сибас), дорадо


  if props.ver5
    div.advantages-card
      picture.advantages-card__banner
        source(media="(max-width: 991px)" srcset="./assets/images/advantages-banner-5-mobile.jpg")
        img(src="./assets/images/advantages-banner-5-desktop.png", alt="")
        