section.popUp.cookie
  div.container
    div.cookie__wrapper
      div.cookie__main
        p.cookie__text Продолжая использовать сайт <a href="https://dev3.opt.defagroup.com" target="_blank" rel=" noopener noreferrer">dev3.opt.defagroup.com</a> вы соглашаетесь на использование файлов cookie. Более подробную информацию можно найти в <a href="/urinfo/privacy/" target="_blank" rel=" noopener noreferrer">Политике конфиденциальности</a>.

      button(type="button" aria-label="Закрыть").button.cookie__button Принять