@font-face {
  font-family: "icon";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/icon/icon.woff2") format("woff2"),
}

@font-face {
  font-family: "FiraSans";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../assets/fonts/FiraSans/FiraSans-100.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSans";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("../assets/fonts/FiraSans/FiraSans-100-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSans";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../assets/fonts/FiraSans/FiraSans-200.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSans";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("../assets/fonts/FiraSans/FiraSans-200-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../assets/fonts/FiraSans/FiraSans-300.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSans";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("../assets/fonts/FiraSans/FiraSans-300-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/FiraSans/FiraSans-400.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/FiraSans/FiraSans-400-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../assets/fonts/FiraSans/FiraSans-500.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSans";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("../assets/fonts/FiraSans/FiraSans-500-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../assets/fonts/FiraSans/FiraSans-600.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSans";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("../assets/fonts/FiraSans/FiraSans-600-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/FiraSans/FiraSans-700.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSans";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/FiraSans/FiraSans-700-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSans";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../assets/fonts/FiraSans/FiraSans-800.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSans";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("../assets/fonts/FiraSans/FiraSans-800-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSans";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../assets/fonts/FiraSans/FiraSans-900.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSans";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("../assets/fonts/FiraSans/FiraSans-900-Italic.ttf") format("truetype");
}