footer.footer
  div.container
    div.footer__wrapper
      div.footer__column.footer__column--left
        div.footer__social
          a(href="#").footer__link
            i.footer__icon
              img(src="./assets/images/icon-tg-footer.png", alt="")

          a(href="#").footer__link
            i.footer__icon
              img(src="./assets/images/icon-vk-footer.png", alt="")
        nav.footer__nav
          a(href="#").footer__link Оптовые продажи
          a(href="#").footer__link Поставки в HoReCa
          a(href="#").footer__link Бренды
          a(href="#").footer__link Блог
          a(href="#").footer__link Карьера
          a(href="#").footer__link Результаты СОУТ


      div.footer__column.footer__column--center
        div.footer__logo
          img(src="./assets/images/logo-footer-white.png", alt="")

        span.footer__legal 1995 - 2026 Defa group <br>Все права защищены

        a(href="https://5corners.ru/").footer__link.footer__link--5corners Поймали рыбку с #[svg(width="17" height="17" viewBox="0 0 17 17" xmlns="http://www.w3.org/2000/svg") #[use(href="#icon-5corners")]] 5 УГЛОВ


      div.footer__column.footer__column--right
        div.button-magnetic
          a(href="#").button.button--white.button--transparent Карта филиалов
        a(href="#").footer__link Головной офис 
        a(href="#").footer__link 197374, г. Санкт-Петербург,<br> ул. Савушкина, дом 126, лит. А,<br> БЦ «Atlantic City»
        a(href="tel:+78126406401").footer__link Офис: +7 (812) 640-64-01
        a(href="mailto:info@defagroup.com").footer__link info@defagroup.com
