div.mobile-nav
  div.container
    div.mobile-nav__wrapper
    
      ul.mobile-nav__list.mobile-nav__list--row
        li.mobile-nav__item
          a(href="#").button.button--transparent Прайс-лист
        li.mobile-nav__item
          a(href="#").button
            svg(width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg")
              use(href="#icon-cart")
            span Интернет-магазин


      ul.mobile-nav__list
        li.mobile-nav__item
          a(href="#").mobile-nav__link О компании
        li.mobile-nav__item
          a(href="#").mobile-nav__link Новости
        li.mobile-nav__item
          a(href="#").mobile-nav__link Продукция
        li.mobile-nav__item
          a(href="#").mobile-nav__link Блог
        li.mobile-nav__item
          a(href="#").mobile-nav__link Контакты


      ul.mobile-nav__list
        li.mobile-nav__item
          a(href="#").mobile-nav__link
            svg(width="28" height="28" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg")
              use(href='#icon-telegram')
            span Отдел продаж <strong>8 (800) 505 45 80</strong>
